body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: #8c858d;
}
#grid img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
#grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 5px;
}
h1 {
    position: absolute;
    top: 5px;
    left: 10px;
    color: #810824;
}
h3 {
    position: absolute;
    left: 43px;
    top:  160px;
    color: #810824;
}
#start-button {
    font-size: 20px;
    top: 80px;
    left: 40px;
    padding: 10px 20px;
    width: 200px;
    position: absolute;
    background-color: #268839;
}
#restart-button {
    font-size: 20px;
    top: 250px;
    left: 40px;
    padding: 10px 20px;
    width: 200px;
    position: absolute;
    background: #268839;
}
#lowestScore {
    position: absolute;
    top: 200px;
    left: 150px;
    color: #810824;
    font-size: 1.5em;
}

